<section id="inventory-sidebar" class="sidebar p0 pull-left" #sidebar>
  <div class="h100 clearfix">
    <div class="padd15" style="position: relative">
      <input class="form-control" style="padding-left: 32px !important;" type="search" placeholder="Search Stock" #search>
      <i class="fa fa-search text-light-2" style="position: absolute;top: 26px;left: 25px;"></i>
    </div>
    <!-- <div class="pd1">
      <button class="btn isActive btn-sm" id="warehouseBtn" type="button" (click)="showBranchScreen()">Branch Transfer</button>
    </div> -->
    <stockgrp-list class="parent-Group" [Groups]='groupsWithStocks$ | async'>

    </stockgrp-list>
  </div>
</section>
